<h1>Sign Up</h1>
<form action="/admin/register" method="POST" id="registerForm">
  <div>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>
  </div>
  <div>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
  </div>
  <input type="submit" value="Register" class="BTN">
</form>

<p>Already have an account? <a href="/login">Login here</a></p>
