<header class="header"> 
    <a href="/" class="header__logo">Node.js</a> 

    <nav class="header__nav"> 
        <ul> 
            <li><a href="/" class="<%= isActiveRoute("/") %>"</a>>Home</a></li> 
            <li><a href="/about" class="<%= isActiveRoute("/about") %></a>">About</a></li> 
            <li><a href="/contact" class="<%= isActiveRoute("/contact") %></a>">Contact</a></li>
        </ul>
    </nav>

    <div class="header__button"> 
        <button class="searchBTn" aria-expanded="false">Search</button> 
        <path d="M16.32,14.9l5.39,5.4c0.19,0.19,0.19,0.51,0,0.7l-1.4,1.4c-0.19,0.19-0.51,0.19-0.7,0l-5.39-5.4L8,14.9 c-1.67,1.52-4.07,1.26-5.48-0.6C1.1,12.42,1.36,10.02,2.88,8.35l0,0C4.4,6.68,6.8,6.42,8.21,7.83l0,0 C9.63,9.23,9.89,11.63,8.35,13.3L8,13.7L16.32,14.9z"></path>
        </svg>
    </div>
</header>